.container {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: transparent;
    width: 375px;
    border-radius: 12px;
    border: 1px solid white;
    box-shadow: 1px 1px 10px rgba(255, 68, 0, 0.455);
    text-align: center;
    padding: 2rem;
}
.container h1,h2 {
    color: orangered;
    letter-spacing: 2px;
    margin: 1rem 0px;
}
.registerCamp {
    width: 100%;
    display: flex;
    margin-bottom: 1rem;
}

.inputTask {
    border-radius: 8px 0px 0px 8px;
    padding: 4px 8px;
    color: orangered;
    width: 100%;
    border: none;
}
.btnRegister {
    padding: 4px 8px;
    border: none;
    border-radius: 0px 8px 8px 0px;
    background-color: orangered;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
.btnRegister:hover {
    filter: brightness(0.8);
}
